/*   Combo kills   */
.kill{
    color: white;
}
.dobleKill{
    color: #5bc0be;
    text-shadow: black 0 -1px;
}
.tripleKill{
    color: whitesmoke;
    text-shadow: #0b132b 0 -2px;
}
.cuadraKill{
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
    font: Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}
.escapado{
    color: #a2d1d0;
    font-style:italic;
}
/*   Visual Imagenes Informativas   */
#balasImagen{
    width: 200%;
    height: 200%;
    background-image: url(../img/bomba/bombaParaIndex.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*   Vidas   */


.vida{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 80%;
    width: 1%;  
}
.vidaStandard{
    background-color: green;
}
.vidaPerdida{
    background-color: lightgreen;
}
.ultimaVida{
    border-right: 1px solid black;
}
.primeraVida{
    border-left: 1px solid black;
}

.parrafoTutorial{
    position: relative;
    background-color: #1c2541;
    opacity: 0.8;
    width: 40%;
    height: 35%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: center;
    overflow-y: auto;
    box-shadow: 4px 4px black;
    text-shadow: 2px 2px black;
}

.azul{
    color: #5cb0be;
}

.stats p{
    text-align: center;
}

.hp{
    position: relative;
    top: -50%;
    font-weight: bold;
}