/*   Combo kills   */
.kill{
    color: royalblue;
}
.dobleKill{
    color: yellowgreen;
    text-shadow: black 0 -1px;
    text-decoration: underline;
}
.tripleKill{
    text-shadow: red 0 -2px;
}
.cuadraKill{
    text-shadow: 1px 1px 2px black, 0 0 1em red, 0 0 0.2em red;
    font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}
.escapado{
    color: red;
    font-style:italic;
}
/*   Visual Imagenes Informativas   */
#balasImagen{
    width: 200%;
    height: 200%;
    background-image: url(../img/bomba/bombaParaIndex.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*   Vidas   */
#textoVidas{
    background-color: goldenrod;
    width: 5%;
    height: 25%;
    margin-left: 6%;
    border: 1px solid black;
    text-align: center;
}
#vidas{
    width: 25%;
    height: 60%;
    margin-left: 2%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vida{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 25%;
    width: 1%;  
}
.vidaStandard{
    background-color: green;
}
.vidaPerdida{
    background-color: lightgreen;
}
.ultimaVida{
    border-right: 1px solid black;
}
.primeraVida{
    border-left: 1px solid black;
}

.parrafoTutorial{
    position: relative;
    background-color: goldenrod;
    opacity: 0.6;
    width: 20%;
    height: 35%;
    margin-top: 10%;
    margin-left: 40%;
    border: 1px solid black;
    text-align: center;
    overflow-y: auto;
}

.azul{
    color: blue;
}